<div class="card d-inline-block m-sm-4 mb-4 mx-3 w-100 w-sm-auto">
    <div class="card-header text-left">
        <input type="text" class="pl-1 h6 card-title d-inline-block mb-0 bg-transparent border-0 w-75" value="@Model.Name" @onchange="ChangeName" />
        <button class="float-right close p-0" @onclick="@(() => OnRemoveWidget.InvokeAsync(Model.Id))"><span>x</span></button>
    </div>
    <div class="card-body text-center">
        <h1>@Model.CurrentCount</h1>

        <button class="btn btn-primary mr-1" @onclick="@(() => --Model.CurrentCount)"><i class="fas fa-minus"></i></button>
        <button class="btn btn-primary ml-1" @onclick="@(() => ++Model.CurrentCount)"><i class="fas fa-plus"></i></button>
    </div>
</div>

@code {
    private void ChangeName(ChangeEventArgs e)
    {
        Model.Name = e.Value?.ToString();
    }

    #region Initialization
    [Parameter] public EventCallback<int> OnRemoveWidget { get; set; }
    [Parameter] public CounterWidgetModel Model { get; set; }
    #endregion
}
